#blocNotConnect{
    background-color: rgba(223, 223, 223,0.8);
    border: 1px solid rgb(167, 167, 167);
    box-shadow: 1px 1px 10px rgba(0, 0, 0,.3);
    padding: 10px;
    border-radius: 3px;
}
#blocNotConnectReponse{
    display: none;
    width: 30%;
    height: 40%;
    background-color: rgba(223, 223, 223,0.8);
    border: 1px solid rgb(167, 167, 167);
    box-shadow: 1px 1px 10px rgba(0, 0, 0,.3);
    padding: 10px;
    border-radius: 3px;
    position: absolute;
}
.profilPicture{

    width: 30px;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(73, 73, 73);



}
.compteProfilPicture{

    width: 100px;
    padding: 5px;
    background-color: rgb(73, 73, 73);



}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.blocFormAnswer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 5px;
}

.blocFormAnswer>form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blocFormAnswer>form>textarea{
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 3px;
    padding: 10px;

}
.blocFormAnswer>form>button{
    background-color: rgb(255, 115, 0);
    color: #f1f1f1;
    border: 0;
    border-radius: 6px;
    margin-top: 20px;
    width: 30%;
    padding: 10px;
}
.blocPost{

    width: 78%;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
}
.BlocTitrePost{


    background-color: rgba(0, 0, 0,.1);

    border-radius: 3px;

}

.flex-center{
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;

}
.flex{

    display: flex;
    flex-direction: column;

}
.blocFormLikeDislike{

    display: flex;
}
.blocFormLikeDislike>form>button{
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}
.blocFormLikeDislike>form>button>img{
    width: 13px;
}
.blocFormLikeDislike>form>span{
    font-size: 15px;
    font-weight: 300;
}

.containerPost {  
    width: 80%;
    padding: 10px;
    margin-top: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0,.1);
    
}

.blocPostAnswer{
    margin: 5px;
    border:solid 1px #333;
    border-radius: 3px;
    padding: 10px;
}
.blocTitrePost{
    border-bottom: solid 1px #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blocCom{
    border-bottom: solid 1px #333;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    
}
.blocCom:hover{
    background-color: rgba(199, 199, 199, 0.212);
    
}

.blocPagination{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
